/* Estilos para el contenedor principal del layout */
.layout-container {
    display: flex;
    flex-direction: column; /* Los elementos internos se apilan verticalmente */
    min-height: 100vh; /* Asegura que el layout ocupe al menos el alto de la ventana */
  }
  
  /* Estilos para el contenido principal */
  .main-content {
    flex-grow: 1; /* Permite que el contenido principal crezca para ocupar el espacio restante */
    padding: 20px;
  }