p{
    color: rgb(10, 37, 185);
}
.cart {
    display: flex;
    align-items:center;        
    justify-content: center;
    background-color: rgb(203, 206, 218);
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}